{% extends 'base.html' %}

{% block title %}Confirm your password{% endblock %}

{% block content %}
<div class="container">
    {% if validlink %}
        <h1>Fill the form to reset your password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    {% else %}
        <h1>The reset link is invalid. Maybe it was used previously.</h1>
    {% endif %}
</div>
{% endblock %}