{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}People{% endblock %}

{% block content %}
<div class="container text-center">
    <h1>People</h1>
    <div class="row row-cols-3">
        {% for user in users %}
            <div class="col" id="user">
                <a href="{{ user.get_absolute_url }}">
                    <img src="{% thumbnail user.profile.photo 180x180 %}" alt="">
                </a>
                <div id="info">
                    <a href="{{ user.get_absolute_url }}">
                        {{ user.get_full_name }}
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}